---
import Layout from "../layouts/MainLayout.astro";
import SmartMatch from "../components/SmartMatch.astro";
import PromiseBanner from "../components/PromiseBanner.astro";
import HowItWorks from "../components/HowItWorks.astro";
import WhyItCostsLess from "../components/WhyItCostsLess.astro";
import OurModel from "../components/OurModel.astro";
import Footer from "../components/Footer.astro";
import HeroSection from "../components/HeroSection.astro";
import Contact from "../components/Contact.astro";
---

<Layout>
  <HeroSection />

  <section>
    <SmartMatch />
  </section>

  <section>
    <HowItWorks />
  </section>

  <section>
    <OurModel />
  </section>

  <section>
    <WhyItCostsLess />
  </section>

  <section>
    <PromiseBanner />
  </section>

  

  <Footer />
</Layout>

<style is:global>
  .contact-form {
    padding: 3rem 2rem;
    background-color: #f9fafb;
  }

  .contact-form form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
</style>
