---
import DashboardLayout from "../../../components/dashboard/DashboardLayout.astro";
import PSASigningSystemEmbedded from "../../../components/dashboard/PSASigningSystemEmbedded.jsx";
---

<DashboardLayout title="PSA Signing" user={null}>
  <div id="psa-container">
    <PSASigningSystemEmbedded client:only="react" />
  </div>
</DashboardLayout>
